openapi: 3.2.0
info:
  title: THC Open Mindfulness Resources Practices API
  version: 1.0.0
  description: A free, public, read-only REST API exposing The Holistic Care's open mindfulness resources — research citations (whitepapers), a plain-language glossary, 16 free mindfulness games, 111 free guided-audio practices, blog post excerpts, and the public PanchaVikas early-years framework — as structured JSON.
  contact:
    name: The Holistic Care
    url: https://www.theholisticcare.com
    email: info@theholisticcare.com
  license:
    name: MIT (code only — see LICENSING.md for content rights)
    url: https://github.com/mohanagc/thc-open-mindfulness-api/blob/main/LICENSE
servers:
- url: https://api.theholisticcare.com
  description: Production (only environment currently deployed)
tags:
- name: Practices
paths:
  /v1/practices:
    get:
      summary: List free guided-audio practices (Stillness Library)
      description: Free tracks only. The Stillness Library also has paid tracks; those are never exposed by this API under any circumstances (enforced in the query itself, not just by the apiPublic flag).
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: category
        in: query
        schema:
          type: string
          enum:
          - mindfulness
          - children
          - breathwork
          - nondual-awareness
          - yoga-nidra
          - students
          - sleep
      responses:
        '200':
          description: A paginated list of free practices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PracticeListResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Practices
      operationId: getV1Practices
      x-operation-id-source: derived
  /v1/practices/{slug}:
    get:
      summary: Get a single free practice by slug
      parameters:
      - $ref: '#/components/parameters/slug'
      responses:
        '200':
          description: A single free practice, including related free practices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PracticeDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Practices
      operationId: getV1PracticesBySlug
      x-operation-id-source: derived
components:
  parameters:
    limit:
      name: limit
      in: query
      description: 'Max records to return (default 20). A non-numeric, non-integer, or non-positive value (e.g. `abc`, `1.5`, `0`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to the default. A value above the documented maximum (100) is the one exception: it is NOT an error, it is silently clamped to 100 — see /docs#pagination for the full rationale for that one intentional exception.

        '
      schema:
        type: integer
        default: 20
        maximum: 100
    slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Records to skip (default 0). A non-numeric, non-integer, or negative value (e.g. `abc`, `1.5`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to 0 — see /docs#pagination.

        '
      schema:
        type: integer
        default: 0
  schemas:
    PracticeDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PracticeDetail'
        meta:
          $ref: '#/components/schemas/Meta'
    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
    RelatedRef:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
    PracticeDetail:
      allOf:
      - $ref: '#/components/schemas/Practice'
      - type: object
        properties:
          related_practices:
            description: Free practices only — a paid track can never appear here even as a reference.
            type: array
            items:
              $ref: '#/components/schemas/RelatedRef'
    Practice:
      type: object
      properties:
        id:
          type: string
          description: The stable public track ID (same value as `track_id`), in the form "SL-*". Never the raw Sanity `_id`.
          example: SL-041
        slug:
          type: string
        type:
          type: string
          enum:
          - practice
        track_id:
          type: string
        title:
          type: string
        category:
          type: string
        excerpt:
          type: string
        audio_url:
          type: string
          description: Direct link to the MP3 file (Cloudflare R2). Never proxied.
        read_time_minutes:
          type: integer
        canonical_url:
          type: string
        updated_at:
          type: string
          format: date-time
      example:
        id: SL-041
        slug: letting-go-of-the-day
        type: practice
        track_id: SL-041
        title: Letting Go of the Day
        category: sleep
        excerpt: A short wind-down practice for releasing the events of the day before sleep.
        audio_url: https://files.theholisticcare.com/stillness-library-free/letting-go-of-the-day.mp3
        read_time_minutes: 6
        canonical_url: https://www.theholisticcare.com/stillness-library/letting-go-of-the-day
        updated_at: '2026-09-05T00:00:00.000Z'
    Meta:
      type: object
      description: Present on every successful response.
      properties:
        generated_at:
          type: string
          format: date-time
        provider:
          type: string
          example: The Holistic Care
        source:
          type: string
          example: https://www.theholisticcare.com
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Short, machine-readable identifier. See /docs#errors for the full list.
              example: not_found
            message:
              type: string
              description: Human-readable, safe to show a developer. Never a stack trace or internal detail.
      example:
        error:
          code: not_found
          message: No public blog post found for slug "example-slug".
    PracticeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Practice'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'
  responses:
    RateLimited:
      description: 'Too many requests from this IP recently (best-effort ~60 req/min; see /docs#rate-limiting for the honest limitations of this enforcement on serverless infrastructure).

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'No public record exists at that slug. A record that exists but is a draft, unpublished, or not opted into the API returns this exact same response as a slug that doesn''t exist at all — never a different error that would reveal a private record''s existence.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidParameter:
      description: 'A malformed `limit` or `offset` value (non-numeric, non-integer, a non-positive `limit`, or a negative `offset`) — see /docs#pagination. Every endpoint below that accepts `limit`/`offset` can return this.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
