openapi: 3.2.0
info:
  title: THC Open Mindfulness Resources Categories API
  version: 1.0.0
  description: A free, public, read-only REST API exposing The Holistic Care's open mindfulness resources — research citations (whitepapers), a plain-language glossary, 16 free mindfulness games, 111 free guided-audio practices, blog post excerpts, and the public PanchaVikas early-years framework — as structured JSON.
  contact:
    name: The Holistic Care
    url: https://www.theholisticcare.com
    email: info@theholisticcare.com
  license:
    name: MIT (code only — see LICENSING.md for content rights)
    url: https://github.com/mohanagc/thc-open-mindfulness-api/blob/main/LICENSE
servers:
- url: https://api.theholisticcare.com
  description: Production (only environment currently deployed)
tags:
- name: Categories
paths:
  /v1/categories:
    get:
      summary: List the current valid topic/pillar filter values
      description: An interim, partial taxonomy — it only reflects the `topic` and `pillar` fields that already exist on researchCitation/glossaryTerm. Not a substitute for /v1/resources or /v1/search's own filters.
      responses:
        '200':
          description: Distinct topics and pillars currently in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Categories
      operationId: getV1Categories
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Short, machine-readable identifier. See /docs#errors for the full list.
              example: not_found
            message:
              type: string
              description: Human-readable, safe to show a developer. Never a stack trace or internal detail.
      example:
        error:
          code: not_found
          message: No public blog post found for slug "example-slug".
    CategoriesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            whitepapers:
              type: object
              properties:
                topics:
                  type: array
                  items:
                    type: string
            glossary:
              type: object
              properties:
                pillars:
                  type: array
                  items:
                    type: string
            note:
              type: string
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          whitepapers:
            topics:
            - mindfulness
            - meditation
            - yoga
          glossary:
            pillars:
            - nonduality
            - yoga
            - meditation
          note: Interim taxonomy covering only fields that exist today.
    Meta:
      type: object
      description: Present on every successful response.
      properties:
        generated_at:
          type: string
          format: date-time
        provider:
          type: string
          example: The Holistic Care
        source:
          type: string
          example: https://www.theholisticcare.com
  responses:
    RateLimited:
      description: 'Too many requests from this IP recently (best-effort ~60 req/min; see /docs#rate-limiting for the honest limitations of this enforcement on serverless infrastructure).

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
