openapi: 3.2.0
info:
  title: THC Open Mindfulness Resources Mindfulness Games API
  version: 1.0.0
  description: A free, public, read-only REST API exposing The Holistic Care's open mindfulness resources — research citations (whitepapers), a plain-language glossary, 16 free mindfulness games, 111 free guided-audio practices, blog post excerpts, and the public PanchaVikas early-years framework — as structured JSON.
  contact:
    name: The Holistic Care
    url: https://www.theholisticcare.com
    email: info@theholisticcare.com
  license:
    name: MIT (code only — see LICENSING.md for content rights)
    url: https://github.com/mohanagc/thc-open-mindfulness-api/blob/main/LICENSE
servers:
- url: https://api.theholisticcare.com
  description: Production (only environment currently deployed)
tags:
- name: Mindfulness Games
paths:
  /v1/mindfulness-games:
    get:
      summary: List free mindfulness games
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: audience
        in: query
        schema:
          type: string
          enum:
          - children
          - teens
          - adults
          - educators
          - parents
      - name: skill
        in: query
        schema:
          type: string
          enum:
          - attention
          - body-awareness
          - breathwork
          - cognitive-reframing
          - emotional-regulation
          - gratitude
          - grounding
          - loving-kindness
          - mindful-listening
          - nondual-awareness
          - relaxation
          - self-compassion
          - sleep
      responses:
        '200':
          description: A paginated list of mindfulness games (16 total, all free).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameListResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Mindfulness Games
      operationId: getV1MindfulnessGames
      x-operation-id-source: derived
  /v1/mindfulness-games/{slug}:
    get:
      summary: Get a single mindfulness game by slug
      parameters:
      - $ref: '#/components/parameters/slug'
      responses:
        '200':
          description: A single mindfulness game.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Mindfulness Games
      operationId: getV1MindfulnessGamesBySlug
      x-operation-id-source: derived
components:
  parameters:
    limit:
      name: limit
      in: query
      description: 'Max records to return (default 20). A non-numeric, non-integer, or non-positive value (e.g. `abc`, `1.5`, `0`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to the default. A value above the documented maximum (100) is the one exception: it is NOT an error, it is silently clamped to 100 — see /docs#pagination for the full rationale for that one intentional exception.

        '
      schema:
        type: integer
        default: 20
        maximum: 100
    slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Records to skip (default 0). A non-numeric, non-integer, or negative value (e.g. `abc`, `1.5`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to 0 — see /docs#pagination.

        '
      schema:
        type: integer
        default: 0
  schemas:
    Game:
      type: object
      properties:
        id:
          type: string
          description: The stable public game ID (same value as `api_id`), in the form "MG-*". Never the raw Sanity `_id`.
          example: MG-001
        slug:
          type: string
        type:
          type: string
          enum:
          - mindfulness_game
        api_id:
          type: string
        title:
          type: string
        url:
          type: string
        icon:
          type: string
        tag:
          type: string
        description:
          type: string
        free:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        audiences:
          type: array
          items:
            type: string
        age_min:
          type:
          - integer
          - 'null'
        age_max:
          type:
          - integer
          - 'null'
        duration_minutes:
          type:
          - integer
          - 'null'
        skills:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
      example:
        id: MG-001
        slug: breathing-buddy
        type: mindfulness_game
        api_id: MG-001
        title: Breathing Buddy
        url: https://www.theholisticcare.com/games/breathing-buddy.html
        icon: 🫧
        tag: Breathing
        description: A gentle breathing pacer for young children.
        free: true
        keywords:
        - breathing
        - calm
        - kids
        audiences:
        - children
        age_min: 5
        age_max: 12
        duration_minutes: 5
        skills:
        - breathwork
        updated_at: '2026-09-24T00:00:00.000Z'
    GameDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Game'
        meta:
          $ref: '#/components/schemas/Meta'
    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Short, machine-readable identifier. See /docs#errors for the full list.
              example: not_found
            message:
              type: string
              description: Human-readable, safe to show a developer. Never a stack trace or internal detail.
      example:
        error:
          code: not_found
          message: No public blog post found for slug "example-slug".
    Meta:
      type: object
      description: Present on every successful response.
      properties:
        generated_at:
          type: string
          format: date-time
        provider:
          type: string
          example: The Holistic Care
        source:
          type: string
          example: https://www.theholisticcare.com
    GameListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Game'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'
  responses:
    RateLimited:
      description: 'Too many requests from this IP recently (best-effort ~60 req/min; see /docs#rate-limiting for the honest limitations of this enforcement on serverless infrastructure).

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'No public record exists at that slug. A record that exists but is a draft, unpublished, or not opted into the API returns this exact same response as a slug that doesn''t exist at all — never a different error that would reveal a private record''s existence.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidParameter:
      description: 'A malformed `limit` or `offset` value (non-numeric, non-integer, a non-positive `limit`, or a negative `offset`) — see /docs#pagination. Every endpoint below that accepts `limit`/`offset` can return this.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
