openapi: 3.2.0
info:
  title: THC Open Mindfulness Resources Whitepapers API
  version: 1.0.0
  description: A free, public, read-only REST API exposing The Holistic Care's open mindfulness resources — research citations (whitepapers), a plain-language glossary, 16 free mindfulness games, 111 free guided-audio practices, blog post excerpts, and the public PanchaVikas early-years framework — as structured JSON.
  contact:
    name: The Holistic Care
    url: https://www.theholisticcare.com
    email: info@theholisticcare.com
  license:
    name: MIT (code only — see LICENSING.md for content rights)
    url: https://github.com/mohanagc/thc-open-mindfulness-api/blob/main/LICENSE
servers:
- url: https://api.theholisticcare.com
  description: Production (only environment currently deployed)
tags:
- name: Whitepapers
paths:
  /v1/whitepapers:
    get:
      summary: List research citations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: topic
        in: query
        schema:
          type: string
          enum:
          - mindfulness
          - meditation
          - yoga
          - sleep
          - nonduality
          - children
          - anxiety
          - physiology
      - name: study_type
        in: query
        schema:
          type: string
          enum:
          - rct
          - meta-analysis
          - observational
          - cohort
          - clinical-trial
          - physiological
          - guideline
      responses:
        '200':
          description: A paginated list of research citations. Cached at the edge for 1 hour (see /docs#caching).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationListResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Whitepapers
      operationId: getV1Whitepapers
      x-operation-id-source: derived
  /v1/whitepapers/{slug}:
    get:
      summary: Get a single research citation by slug
      parameters:
      - $ref: '#/components/parameters/slug'
      responses:
        '200':
          description: A single research citation, including related terms and posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      tags:
      - Whitepapers
      operationId: getV1WhitepapersBySlug
      x-operation-id-source: derived
components:
  parameters:
    limit:
      name: limit
      in: query
      description: 'Max records to return (default 20). A non-numeric, non-integer, or non-positive value (e.g. `abc`, `1.5`, `0`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to the default. A value above the documented maximum (100) is the one exception: it is NOT an error, it is silently clamped to 100 — see /docs#pagination for the full rationale for that one intentional exception.

        '
      schema:
        type: integer
        default: 20
        maximum: 100
    slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: 'Records to skip (default 0). A non-numeric, non-integer, or negative value (e.g. `abc`, `1.5`, `-1`) returns a 400 `invalid_parameter` error rather than silently falling back to 0 — see /docs#pagination.

        '
      schema:
        type: integer
        default: 0
  schemas:
    CitationDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CitationDetail'
        meta:
          $ref: '#/components/schemas/Meta'
    CitationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'
    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
    RelatedRef:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
    CitationDetail:
      allOf:
      - $ref: '#/components/schemas/Citation'
      - type: object
        properties:
          related_posts:
            type: array
            items:
              $ref: '#/components/schemas/RelatedRef'
          related_terms:
            type: array
            items:
              $ref: '#/components/schemas/RelatedTermRef'
    Meta:
      type: object
      description: Present on every successful response.
      properties:
        generated_at:
          type: string
          format: date-time
        provider:
          type: string
          example: The Holistic Care
        source:
          type: string
          example: https://www.theholisticcare.com
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Short, machine-readable identifier. See /docs#errors for the full list.
              example: not_found
            message:
              type: string
              description: Human-readable, safe to show a developer. Never a stack trace or internal detail.
      example:
        error:
          code: not_found
          message: No public blog post found for slug "example-slug".
    Citation:
      type: object
      properties:
        id:
          type: string
          description: Deterministic public ID in the form "research:<slug>". Never the raw Sanity `_id`.
          example: research:goyal-2014-meditation-programs
        slug:
          type: string
        type:
          type: string
          enum:
          - research_citation
        title:
          type: string
        authors:
          type: string
        year:
          type: integer
        journal:
          type: string
        study_type:
          type: string
        sample_size:
          type: string
        topic:
          type: string
        summary:
          type: string
        key_finding:
          type: string
        limitations:
          type:
          - string
          - 'null'
        source_url:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
      example:
        id: research:goyal-2014-meditation-programs
        slug: goyal-2014-meditation-programs
        type: research_citation
        title: Meditation Programs for Psychological Stress and Well-Being
        authors: Goyal M, Singh S, Sibinga EMS, et al.
        year: 2014
        journal: JAMA Internal Medicine
        study_type: meta-analysis
        sample_size: 3,515 participants across 47 trials
        topic: mindfulness
        summary: A meta-analysis of 47 randomized trials of meditation programs for psychological stress and well-being.
        key_finding: Moderate evidence of improved anxiety, depression, and pain outcomes.
        limitations: Most trials had a moderate risk of bias and few compared meditation with active treatments.
        source_url: https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/1809754
        updated_at: '2026-09-01T00:00:00.000Z'
    RelatedTermRef:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
  responses:
    RateLimited:
      description: 'Too many requests from this IP recently (best-effort ~60 req/min; see /docs#rate-limiting for the honest limitations of this enforcement on serverless infrastructure).

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'No public record exists at that slug. A record that exists but is a draft, unpublished, or not opted into the API returns this exact same response as a slug that doesn''t exist at all — never a different error that would reveal a private record''s existence.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidParameter:
      description: 'A malformed `limit` or `offset` value (non-numeric, non-integer, a non-positive `limit`, or a negative `offset`) — see /docs#pagination. Every endpoint below that accepts `limit`/`offset` can return this.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
